[Unit]
Description=Baby Tracker Flask Service (Gunicorn)
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/www/baby_tracker
Environment="PATH=/home/www/baby_tracker/venv/bin"
ExecStart=/home/www/baby_tracker/venv/bin/gunicorn --workers 4 --bind 127.0.0.1:5000 server:app
Restart=always

[Install]
WantedBy=multi-user.target
